asgiref
certifi
charset-normalizer
Django
django-admin-interface
django-colorfield
django-js-asset
django-mptt
idna
Pillow
python-slugify
requests
sqlparse
text-unidecode
typing_extensions
tzdata
urllib3
